@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bg text-gray-100 antialiased overflow-x-hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #2d2f3a;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: #0d0e12;
}
